body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    text-align: center;
}

.menu-items {
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
}

a {
    text-decoration: none;
}

.navigation-menu {
    grid-column: span 2;
}
.navigation-menu > fieldset {
    min-height: 500px;
}

.content {
    grid-column: span 10;
}

.content > fieldset {
    min-height: 500px;
}

.content > fieldset > div {
    margin-left: 20px;
}

.hiddenContent {
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation-menu {
        grid-column: span 4;
    }

    .content {
        grid-column: span 8;
    }
}