body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    text-align: center;
}

nav > ul {
    padding: 0;
}

nav > ul > li, nav > ul > li > a {
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
}

.navigation-menu {
    grid-column: span 2;
}

.navigation-menu > fieldset {
    min-height: 400px;
}

.navigation-menu > fieldset > legend {
    margin-left: 10px;
}

.content {
    grid-column: span 10;
}

.content > fieldset {
    min-height: 400px;
}

.content > fieldset > div, .content > fieldset > legend {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .navigation-menu {
        grid-column: span 4;
    }

    .content {
        grid-column: span 8;
    }
}